﻿
@{
    Layout = null;
    <link href="~/css/style.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show Cities</title>
</head>
<body>
    <h2 class="tex">Select City</h2>
    <br />

    @foreach (var item in ViewBag.Cities)
    {
        @await Component.InvokeAsync("City", item.Key)
   }
</body>
</html>
